body{
    background-image: url(../assets/images/skull1.jpg);
    background-size: 1920px 1080px;
}
.container{
    text-align:center;
    color: black;
    /* background:black; */
    /* background-image: url(../assets/images/coletrain.jpg); */
    padding-top: 20px;
}

#titleBlock{
    text-align:center;
    color:white;
    /* background:black; */
    background-image: url(../assets/images/coletrain.jpg);
    padding: 60px;
}
#mainContent{
    margin:10px auto;
}
.trainDisplay{
    margin:0px auto
}
#currentTrains{
    border:2px solid black;
    background: white;
    opacity: 0.8;

}
.definingText{
    margin-left: 10px;
    font-weight: 500;
}
#addTrain{
    border:2px solid black;
    margin: 0 auto;
    margin-top: 10px;
    background: white;
    opacity: 0.8;


}

h1{
    margin-left: 25px;
}

#trainAddText, #currentTrainText {
    background-color: grey;
    font-weight: bold;
}

#submitButton{
    /* opacity: 1; */
    margin-top: 10px;
    margin-left: 40%;
    font-weight: bold;
}
